@{
    Locale locale = (Locale)ViewData["culture"];
}
<!DOCTYPE html>
<html lang="@locale.Identifier">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="~/favicon.ico" />
    <link rel='stylesheet' type='text/css' media='screen' href='~/main.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='~/sltcode.css'>
</head>
<body>
    <header>
        <nav>
            <a href="~/@(locale.Identifier)/"><img src="~/headlogo.png" alt="logo" /></a>
            <ul>
                <li>
                    <a href="~/@(locale.Identifier)/">@(locale["Title_Home"])</a>
                </li>
                <li>
                    <a href="~/@(locale.Identifier)/FAQ">@(locale["Title_FAQ"])</a>
                </li>
                <li>
                    <a href="~/@(locale.Identifier)/syntax">@(locale["Title_Syntax"])</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            @RenderBody()
        </div>
    </main>
    <footer>
        <div class="container">
            <span>slt-lang</span>
            @foreach (var x in Locale.Locales.Keys)
            {
                <a href="/@x">@x</a>
                <span> </span>
            }
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
